*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 
	"Segoe UI", Roboto, "Helvetica Neue", Arial, 
	"Noto Sans", sans-serif, "Apple Color Emoji", 
	"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}



/* -----header------------- */

header{
	width: 100%;
	position: fixed;
	top,left, right:0;
	background-color: #e2ecee;
	z-index: 100;
}

.headerBlock{
	display: flex;
	justify-content: space-between;
	margin: 20px;
	background-color: #e2ecee;

}

.logo{
	padding-top: 15px;
}

.headerNavList>li, .subNavList>li{
	float: left;
	list-style: none;
}
.headerNavList>li:after, .subNavList>li:after{
	content: '';
	clear: both;
	display: block;
}
.headerNavList:after, .subNavList:after, .headerNav:after{
	content: '';
	clear: both;
	display: block;
}
.subNavList>li>a{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	padding: 0 15px;

}

.subNavList>li>a:hover{
	color:#10c9c3;
	
}

i.pe-7s-menu:before {
	content: "";
}


/* ------main------------- */


div.mainHeader{
	background-color: #e2ecee;
	margin: 0;
}


.mainHeaderImg {
	text-align: center;
	display: block;
	height: 850px;
}
.mainHeaderImg>img {
	max-width: 100%;
}


.mainHeaderText {
	text-align: left;
	padding: 240px 35px;
	position: relative;
	height: 850px;
}

.mainHeaderText>h1{
	font-weight: bolder;
	margin-bottom: 40px;
}

.mainHeaderText>p{
	color: #797876;
}

.mainHeaderText>button{
	width: 180px;
	height: 55px;
	color:white;
	text-transform: uppercase;
	text-align: center;
	background-color: #10c9c3;
	border: none;
	margin-top: 40px;
	cursor: pointer;
	transition: .7s border-radius;
}

.mainHeaderText>button:hover{
	font-size:105%;
	border-radius: 20px;
}

#downButton{
	position: absolute;
	left: 50%;
    margin-left: -25px;
	bottom: 80px;
	opacity: 0.6;
	transition: .5s;
	color: #10c9c3;

}
#downButton:hover{
	
	opacity: 1;
	transform: scale(1.1);

}

#down{
	transition: 3s ease;
}






.aboutUs{
	height: 420px;
	text-align: center;
}

.aboutUs>div{
	max-width: 600px;
	margin: 100px auto;
	padding: 10px;
}

.aboutUs p{
	color: #797876;
	margin: 40px 0;
}






div.skilsBlock{
	background-color: #f9f9f9;
	margin: 0;
}
.skilsBlock div:first-child{
	padding: 0;
	padding-top: 20px;
	padding-left: 35px;
	margin: 0;
}


.skils{
	height: 570px;
	text-indent: 35px;
	padding-top: 165px;
}

.skils>h2{
	font-size: 30px;
	font-weight: bolder;
	margin-bottom: 40px;
}

.skils div{
	font-size: 14px;
	font-weight: bold;
}

div.skilsPhoto{
	background-image: url(img/01_One_Page.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 570px;
	padding: 0;
}






[class*="progress"]{
	border-bottom:3px solid grey;
	height: 3px;
	width: 80%;
	margin: 20px 0 20px 35px;
	position: relative;
}

[class*="progress"]:before{
	content: '';
	border-bottom:3px solid #10c9c3;
	position: absolute;
	left: 0;
	top:0;
}

.progress1:before{
	width: 75%;
}
.progress2:before{
	width: 90%;
}
.progress3:before{
	width: 65%;
}





div.parameterList{
	background-color: #10c9c3;
	color: white;
	text-align: left;
	text-indent: 15px;
	margin: 0;
}

.parameterList div{
	padding: 30px 0;
	margin: 0;
}

.list{
	padding: 75px 20px;
	min-height: 80px;
}

.list>i{
float: left;
}

.list > i+p{
margin-top: 10px;
}

.list>i:after{
content: '';
clear: both;
display: block;
}


div.photoBlock{
	margin: 0;
}

div.photoBlock div{
	padding: 0;
}

[class*="photoBlock"] a{
	display: block;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	color:white;
	position: relative;
}


.photoBlock1{
	height: 300px;
	background-image: url(img/photo-01.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	background-size: cover;
}

.photoBlock2{
	height: 300px;
	background-image: url(img/photo-02.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	background-size: cover;
}

.photoBlock3{
	height: 300px;
	background-image: url(img/photo-03.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	background-size: cover;
}
.photoBlock4{
	height: 300px;
	background-image: url(img/photo-04.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	background-size: cover;
}
.photoBlock5{
	height: 300px;
	background-image: url(img/photo-05.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	background-size: cover;
}
.photoBlock6{
	height: 300px;
	background-image: url(img/photo-06.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	background-size: cover;
}
.photoBlock7{
	height: 300px;
	background-image: url(img/photo-07.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	background-size: cover;
}
.photoBlock8{
	height: 300px;
	background-image: url(img/photo-08.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	background-size: cover;
}


p.pe-7s-look:before {
	content: "";

}

[class*="photoBlock"] a > p {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.8;
	display: none;
}

[class*="photoBlock"] > a:hover > p.pe-7s-look {
	display: block;

}

[class*="photoBlock"] > a:hover > p.pe-7s-look:before {
	content: "\e63e";
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}





.workProces{
	height: 700px;
}

.workProces>div{
	max-width: 80%;
	margin: 100px auto 50px;
	padding: 10px;
	text-align: center;
	
}

.workProces p{
	max-width: 70%;
	margin: 40px auto;
	color: #797876;
}




div.servicesBlock {
	background-color: #f5f5f5;
	margin: 0;
}



.services {
	color:grey;
	text-align: center;
	width: 100%;
	min-width:250px;
	margin: 40px auto;
	font-size: 14px;
}

.services>h3{
	margin: 20px;
	font-size: 16px;
}

.services>p{
	max-width: 60%;
	margin: 0 auto;
}

.services h3>a{
	display: block;
	color:black;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}



.sloganSlider{
	background-color: #10c9c3;
}


.sliderText{
	padding: 80px 0;
	width: 80%;
	margin: 0 auto;
	color:white;
	font-size: 28px;
	text-align: center;

}

div.clientsBlock {
	margin: 0;
}


.clients{
	padding: 70px;
	margin: 0 auto;
}


.clients>img{
	margin: 0 25%;
}




.form{
	background-color: #f9f9f9;
	height: 750px;

}

.form>div{
	padding-top: 100px;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

.form> form{
	max-width: 750px;
	margin: 100px auto 50px;
	padding: 10px;
	text-align: center;
	
}

.form p{
	max-width: 650px;
	color: #797876;
	margin: 40px auto;
}

.form *{
	border: none;
	padding: 5px;
}



#name, #mail{
	width: 38%;
	height: 50px;
	margin: 15px;
	margin-top: 0;
}

#title{
	width: 80%;
	height: 50px;
	margin: 15px;
}

#comment{
	width: 80%;
	height: 170px;
	margin: 15px;
	margin-bottom: 0;
}

#sendMassage{
	width: 180px;
	height: 55px;
	color:white;
	text-transform: uppercase;
	text-align: center;
	background-color: #10c9c3;
	border: none;
	margin-top: 30px;
	cursor: pointer;
	transition: .7s border-radius;
}

#sendMassage:hover{
	font-size:105%;
	border-radius: 20px;
}


/*---------footer-----------------*/
footer{
	position: relative;
	background-color: black;
	color:white;

}

#backToTop{
	position: absolute;
	right: 20px;
	top:20px;
	opacity: 0.6;
	transition: .5s;
	color: white;
	cursor: pointer;

}

#backToTop:hover{	
	opacity: 1;
	transform: scale(1.1);

}

#top{
		transition: 3s ease;
}


footer > .conteiner{
	padding: 80px;
	opacity: 0.8;
}

footer a{
	display: block;
	color:white;
	text-decoration: none;
}
.footer>div{
	margin: 10px 0;
}

.footerNav{
	column-count: 2;
}

.footerNav>li, .socialNetworks>li{
	list-style: none;
	opacity: 0.8;
}

.footerNav>li:hover, .socialNetworks>li:hover{
	opacity: 1;
}



/* -----------смена стилей для средних экранов--------------- */

@media only screen and (max-width: 880px) {

	/*--сворачивание меню навигации в хедере а кнопку-----*/

i.pe-7s-menu:before {
	content: "\e636";
	text-align: right;
}

	.headerNavList{
		position: relative;
}

	.navHover{
	display: block;
	position: absolute;
	right:0;
	cursor: pointer;
	text-align: right;
}

.subNavList{
	display: none;
}

	.navHover:hover > .subNavList {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;

}

.navHover:hover > .subNavList>li {
	background-color: #10c9c3;
	border:1px solid #10c9c3;
	padding: 10px;
	width: 100%;
	margin-bottom: -2px;

}

.navHover:hover > .subNavList>li>a {
	color:white;

}

.navHover:hover > .subNavList>li:hover>a {
	color:black;

}

.navHover:hover > .subNavList>li:hover{
	background-color: #0ef5ee;

}
	
}